<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTS</title>
    <link rel="stylesheet" href="../static/css/artist.css">
</head>

<body>
    <header>
        <h1>THE ARTISTS</h1>
        <nav>
            <a href="/">Home</a>
            <a href="./contact">Contact us</a>
        </nav>
    </header>
    <main>
        {% for item in artists %}
        <section>
            <img src="{{url_for('static',filename='')}}{{item.imag}}">
            <h2>{{item.nombre}}</h2>
            <p>Edad: {{item.edad}}</p>
            <p>Sexo: {{item.sexo}}</p>
            <p>Albums: {{item.numAlbums}}</p>
        </section>
        {% endfor %}
    </main>
</body>

</html>