$prim:  #D8E2DC;
$sec: #E8D7FF;
$sec-light: #eddfff;
$ter: #FFD3E8;
$ancho: 1534px;
@import "_mar";

nav{
    width: $ancho;
    background-color: $sec;
    height: 70px;

    .button-nave{
        background-color: $sec-light;
        height: 30px;
        width: 100px;
    }
    h1{
        font-family: 'Gill Sans';
        font-size: 60px;
    }
}

section{
    background-color: $ter;
    height: 400px;
    .button-compra{
        background-color: $prim;
        font-size: 20px;
        height: 40px;
    }
    .button-explore{
        @extend .button-compra;
    }

    h1,p,h3{
        font-size: 40px;
        font-family: 'Lucida Sans';
    }
}
