@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,800;1,900&display=swap');


@mixin tabla_diascursos {

    border-style: double;
    margin: auto;
    border-color: bisque;
    align-content: center;
    color:azure;
    width: (200 + 500 + 100)#{px};
    height: (20*3)#{px};
}
@mixin color_fondo {
    background-color:cadetblue;   
}
body{
@include color_fondo();
font-family: 'Montserrat', sans-serif;
}

table{
@include tabla_diascursos();
}

header{
     color:black ;

}
 h1{
    color: coral;
     text-align: center;
}
