h1{
    color:gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
h2{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.clase{
    font-size: 100px;
    color:green;

}
.clase2{
    font-size: 40px;
    color:green;
}